body {
    background-color: #fff;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    background: rgb(239,239,239);
    background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(250,250,250,1) 35px);
    background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(250,250,250,1) 35px);
    background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(250,250,250,1) 35px);
    background-repeat: no-repeat;
}

body > footer {
    text-align: center;
    line-height: 2em;
    background-color: #333;
    color: #999;
    font-size: .8em;
}

.content {
    padding: 50px 0 80px 300px;
    max-width: 960px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #333;
}

article header,
article .summary,
article footer,
article p {
    max-width: 100%;
}

article header h1,
.page-article h1:first-child {
    font-size: 2.5em;
}

article h1 {
    font-size: 1.8em;
    margin-bottom: .5em;
}

article h1 .grey {
    color: #999;
}

article h2 {
    font-size: 1.4em;
    margin: 2em 0 .4em;
}

article h3 {
    font-size: 1.2em;
    margin: 1.8em 0 .3em;
}

article h4 {
    font-size: 1em;
    margin: 1.6em 0 .2em;
}

article h5 {
    font-size: .9em;
    margin-bottom: .2em;
}

article h6 {
    font-size: .8em;
    margin-bottom: .2em;
}


article img {
    max-width: 100%;
    height: auto;
    margin: 1em 0;
}

article pre {
    max-width: 100%;
    margin: 1em 0;
    overflow-x: auto;
}

article code {
    font-size: 1.1em;
    vertical-align: baseline;
    color: #c30;
    padding: 0 .2em;
    background-color: #f0f0f0;
    border: solid 1px #ddd;
}

pre {
    background-color: #f0f0f0;
    border: solid 1px #ddd;
    padding: 1em 0;
}

article pre code {
    background: none;
    border: none;
    color: inherit;
}

article footer {
    margin-top: 1em;
}

article strong {
    font-weight: 500;
}

article .post-meta {
    margin: 1em 0;
    color: #999;
    font-size: .8em;
}

article .content-meta {
    padding: .5em 1em;
    background-color: #efefef;
}

article .content-meta ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding-left: 1em;
}

article .content-meta li {
    position: relative;
    display: inline;
    margin-right: .2em;
}

article .content-meta li:after {
    position: absolute;
    display: block;
    content: ',';
    top: -2px;
    bottom: 3px;
    left: 100%;

}

article .content-meta li:last-child:after {
    display: none;
}
article a {
    text-decoration: none;
    color: #333;
    transition: color .25s;
}

article a:hover {
    color: #c90;
}

article .article-body a,
article footer a {
    color: #c90;
    position: relative;
    transition: all .15s;
}

article .article-body a:after,
article footer a:after {
    display: block;
    position: absolute;
    z-index: 5;
    content: '';
    top: 100%;
    left: 0;
    right: 100%;
    width: 0;
    height: 1px;
    background-color: #333;
    transition: all ease-out .25s;
    transform: translateX(0);
}

article .article-body a:hover,
article footer a:hover {
    color: #c60;
}

article .article-body a:hover:after,
article footer a:hover:after {
    width: 100%;
}

article a .draft {
    color: #cc0000;
}

article .comments {
    margin-top: 3em;
    border-top: solid 1px #ccc;
    padding-top: 2em;
}

article .notice {
    background-color: #ffeecc;
    border: solid 1px #eeddaa;
    padding: .5em;
}

.container {
    max-width: 760px;
    margin: 0 auto;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #333;
    color: #efefef;
}

.nav-bar .site-title {
    position: relative;
    display: block;
    color: #efefef;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: 700;
    font-size: 2em;
    line-height: 30px;
    padding: .1em 0;
    margin: 1em auto;
    transition: color .25s;
    /*border-top: solid 1px #c90;*/
    border-bottom: solid 1px #c90;
}

.nav-bar .site-title .rotate90 {
    position: absolute;
    font-size: .5em;
    left: 63.5%;
    bottom: 14.5%;
    transform: rotateZ(-90deg);
}

.nav-bar .site-title .highlight {
    color: #c90;
}

.nav-bar .about {
    font-family: 'Roboto';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1.1em;
    padding: 0 1em;
    margin-bottom: 2em;
}

.nav-bar .about p {
    margin: 0;
}

.nav-bar .about strong {
    font-size: 1.2em;
    text-shadow: 0 0 2px #c90;
}

.nav-bar .about .right {
    padding-left: .5em;
}

.nav-bar .about .left {
    margin-left: -.5em;
}

.nav-bar .site-title:hover {
    color: #da0;
}

.nav-bar ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.nav-bar li {
    line-height: 30px;
}

.nav-bar li a {
    display: block;
    padding: 0 .5em 0 1.5em;
    height: 100%;
    color: #ccc;
    text-decoration: none;
    transition: all .15s;
    position: relative;
    border-bottom: solid 1px #222;
    text-transform: uppercase;
    letter-spacing: .15em;
}

.nav-bar li:first-child a {
    border-top: solid 1px #222;
}

.nav-bar li a:after {
    display: block;
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    border: solid 15px #333;
    margin-top: -15px;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    transform: translateX(-15px);
    transition: all .5s ease-out;
    z-index: -1;
}

.nav-bar li a:hover,
.nav-bar li a.active {
    background-color: #c90;
    color: #333;
    border-bottom: solid 1px #222;
}

.nav-bar li a.active:after {
    transform: translateX(0);
    border-left-color: #c90;
}

.nav-bar ul:hover li a:after {
    transform: translateX(-15px);
}

.nav-bar ul:hover li a.active {
    background-color: #333;
    color: #ccc;
}

.nav-bar ul:hover li a:hover {
    background-color: #222;
    color: #ccc;
}

.nav-bar > footer {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    font-size: .8em;
    line-height: 1.4em;
    text-align: center;
    color: #999;
}

.nav-bar footer a {
    text-decoration: none;
    color: #c90;
}

.archive-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.archive-nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 32%;
    border-bottom: solid 1px #ccc;
    box-sizing: border-box;
}

.archive-nav li a {
    display: block;
    text-align: center;
}

.archive-list {
    padding-left: 0;
}

.archive-list li {
    list-style-type: circle;
    list-style-position: inside;
}

.border-below {
    border-bottom: solid 1px #ccc;
}
