<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }} &dash; {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    <!-- Prefetch WebFonts -->
    <!-- Assume modern Firefox/Chrome/Android and prefetch woff2 -->
    <link rel="prefetch" href="{{ .Site.BaseURL }}fonts/Raleway/raleway-regular-webfont.woff2">
    <link rel="prefetch" href="{{ .Site.BaseURL }}fonts/Raleway/raleway-bold-webfont.woff2">
    <!-- Prefetch JavaScript -->
    <link rel="prefetch" href="{{ .Site.BaseURL }}js/app.js">
    <link rel="prefetch" href="{{ .Site.BaseURL }}js/lib/zepto.min.js">
    {{ partial "sharing_protocols.html" . }}
</head>