		{{ if .Params.og_title }}
		<meta property="og:title" content="{{ .Params.og_title }}" />
		{{ else }}
		<meta property="og:title" content="{{ .Title }}" />
		{{ end }}
		{{ if .Params.og_description }}
		<meta property="og:description" content="{{ .Params.og_description }}" />
		<meta property="twitter:description" content="{{ .Params.og_description }}" />
		{{ else }}
		<meta property="og:description" content="{{ .Site.Params.Description }}" />
		<meta property="twitter:description" content="{{ .Site.Params.Description }}" />
		{{ end }}
		{{ if .Site.Params.Facebook }}
		<meta property="og:author" content="{{.Site.Params.Facebook}}">
		{{ end }}
		<meta property="og:type" content="article" />
		<meta property="og:url" content="{{ .Permalink }}" />
		{{ if .Params.og_image }}
		<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.og_image }}" />
		<meta property="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.og_image }}" />
		{{ else }}
		<meta property="og:image" content="{{ .Site.BaseURL }}{{ .Site.Params.OgDefaultImage }}" />
		<meta property="twitter:image" content="{{ .Site.BaseURL }}{{ .Site.Params.OgDefaultImage }}" />
		{{ end }}
		{{ if .Site.Params.Twitter }}
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:site" content="@{{ .Site.Params.Twitter }}" />
		{{ end }}