{{ partial "header.html" . }}
    {{ partial "navbar.html" . }}
    <div class="content">
        <article>
            <div class="container article-body">
            	{{ partial "archive_navigation.html" }}
                <h1>History</h1>
				{{ range .Site.Pages.ByDate.Reverse }}
					{{ if eq .Type "post" }}
					<li>
						<a href="{{ .Permalink }}">{{ .Title }}</a>
						<span class="post-meta"> - {{ .Date.Format "Mon, Jan 2, 2006" }}</span>
					</li>
					{{ end }}
				{{ end }}
				</ul>
            </div>
        </article>
    </div>
{{ partial "footer.html" . }}
