{{ $data := .Data }}
{{ partial "header.html" . }}
    {{ partial "navbar.html" . }}
    <div class="content">
        <div class="container">
            <article class="categories-list">
                <h1>Content filed under: {{ .Title }}</h1>
                <div class="article-body">
                {{ range $page := $data.Pages }}
                    {{ .Render "summary" }}
                {{ end  }}
                </div>
            </article>
        </div>
    </div>
{{ partial "footer.html" . }}
