{{ $data := .Data }}
{{ partial "header.html" . }}
    {{ partial "navbar.html" . }}
    <div class="content">
        <div class="container">
            <article class="categories-list">
                {{ partial "archive_navigation.html" }}
                <h1>{{ title $data.Plural }}</h1>
                <div class="article-body">
                    <ul>
                    {{ range $name, $value := .Data.Terms }}
                        {{ if len $name }}
                        <li>
                            <a href="/{{ $data.Plural }}/{{ $name | urlize }}">{{ $name }}</a>
                            ({{ len $value  }})
                        </li>
                        {{ end  }}
                    {{ end  }}
                    </ul>
                </div>
            </article>
        </div>
    </div>
{{ partial "footer.html" . }}

