{{ $pages := where .Data.Pages "Type" "page" }}
{{ $posts := where .Data.Pages "Type" "post" }}
{{ partial "header.html" . }}
    {{ partial "navbar.html" . }}
    <div class="content">
        <div class="container">
            <article class="categories-list">
                <h1 class="border-below"><span class="grey">Content tagged:</span> {{ .Title }}</h1>
                {{ if $pages }}
                    <h2>Pages</h2>
                    <ul class="article-body archive-list">
                    {{ range $pages }}
                        {{ .Render "li" }}
                    {{ end }}
                    </ul>
                {{ end }}
                {{ if $posts }}
                    <h2>Articles</h2>
                    <ul class="article-body archive-list">
                    {{ range $posts }}
                        {{ .Render "li" }}
                    {{ end }}
                    </ul>
                {{ end  }}
            </article>
        </div>
    </div>
{{ partial "footer.html" . }}

